{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Bienvenue chez Shiva Food
			</h3>
			<h3>
				Voici ce que nous vous offrons : <br>
			</h3>
			<ul>
				<li class="list-item">
					Venez découvrir nos spécialités culinaires indiennes, tout en profitant d’un cadre familial et chaleureux. Nous sommes placés dans le centre de Rumilly ! Des produits frais et de qualité, cuisinés par nos soins : des naan nature ou avec garniture, des plats cuisinés tels que le Dal Fry, des Lasis et pleins d’autres spécialités. Nous vous invitons à venir les déguster seul, en famille ou entre amis. Notre but : vous faire voyager et découvrir notre passion pour la cuisine Indienne et Sri Lanka
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
