{% extends "base.html" %}
{% block title %} Afficher contact {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Employer
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            Id Employer
                        </th>
                        <th class="align-middle">
                            Nom
                        </th>
						<th class="align-middle">
                            Prenom
						</th>
                        <th class="align-middle">
							Poste
                        </th>
						<th class="align-middle">
							Salaire
                        </th>
                        <th class="align-middle">
							Ajouter
                        </th>
						<th class="align-middle">
							Modifier
                        </th>
						</th>
						<th class="align-middle">
							Supprimer
                        </th>

                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.ID_employer }}
						</td>
						<td class="align-middle">
							{{ row.nom_employer }}
						</td>
						<td class="align-middle">
							{{ row.prenom_employer }}
						</td>
						<td class="align-middle">
							{{ row.poste }}
						</td>
						<td class="align-middle">
							{{ row.salaire }}
						</td>
						<td class="text-right" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('employer_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-right" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('employer_update_wtf', id_genre_btn_edit_html=row.ID_Client) }}" role="button">Edit</a>
						</td>
						<td class="text-right" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('employer_delete_wtf', id_genre_btn_delete_html=row.ID_Client) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun genre.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('employer_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

